* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box {
	display: flex;
	flex-flow: row wrap;
	width: 368px;
	height: 368px;
	border: outset 15px;
	background-color: hsl(0, 0%, 79%);
}

.case {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	border: dashed 0.5px black;
}

.one {
	color: blue;
}

.two {
	color: green;
}

.three {
	color: red;
}

.block,
.block-bomb,
.block-one,
.block-two,
.block-three {
	width: 40px;
	height: 40px;
	border: outset 3px;
}

.block:hover {
	width: 46px;
	height: 46px;
	border: none;
}

.block-one:hover {
	width: 46px;
	height: 46px;
	border: none;
	background-image: url(./images/1.png);
}

.block-two:hover {
	width: 46px;
	height: 46px;
	border: none;
	background-image: url(./images/2.png);
}

.block-three:hover {
	width: 46px;
	height: 46px;
	border: none;
	background-image: url(./images/3.png);
}

.block-bomb:hover {
	width: 46px;
	height: 46px;
	border: none;
	background-image: url(./images/bomb.png);
}
